{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Theralogs Landing Page</title>
    <link rel="stylesheet" href="{% static 'style.min.css' %}">

</head>
<body>

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="{% url 'landing_page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
                     viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Theralogs</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="mr-5 hover:text-gray-900" >Login</a>
                {% endif %}
            </nav>
            {% if not request.user.is_authenticated %}
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
                   href="{% url 'signup' %}">Signup
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            {% else %}
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
                   href="{% url 'home' %}">Home
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
    </header>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-12 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Audio Transcription For
                    Therapists</h2>
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Writing is tiresome, let AI work for you</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Simply submit a recording between you and your client
                    <br/> and have a transcribed pdf for your records.</p>
            </div>
            <div class="flex flex-wrap">
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Features</h2>
                    <p class="leading-relaxed text-base mb-4">Clean UI to view/manage your transcribed conversations
                        and email out pdf's to clients who need them again.</p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Pricing</h2>
                    <p class="leading-relaxed text-base mb-4">Dumb simple, just 9&#162; a minute.
                        We only charge if a recording was successful. </p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Mobile</h2>
                    <p class="leading-relaxed text-base mb-4">Use the iOS/Android apps to make it even easier
                        to get transcribed conversations. Simply press record and upload.</p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">HIPAA compliant</h2>
                    <p class="leading-relaxed text-base mb-4">Transcribed data is encrypted in the database,
                        making sure only you and your clients view transcriptions alone. </p>
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="flex justify-center mt-16">
                    <a class="tl-button" href="{% url 'signup' %}"> Sign me up! </a>
                </div>
            {% endif %}
        </div>
        <div class="container px-5 py-12 mx-auto">
            <div class="text-xl font-bold text-center">FAQ</div>
            <button class="font-semibold mb-2">How does it work?</button>
            <div class="mb-6">
              <p>Simple! You can either press record on the mobile app to record your session and upload it directly.
                  Or you can upload an audio file and choose the client it belongs to!</p>
            </div>

            <button class="font-semibold mb-2">Can I view the transcriptions?</button>
            <div class="mb-6">
              <p>Of course! Only you can view your client's recordings and you can resend a pdf of the transcription any time it is requested.</p>
            </div>

            <button class="font-semibold mb-2">How much?</button>
            <div class="mb-6">
              <p>Currently it is 9&#162; a minute. And we only charge when a recording is successfully transcribed!</p>
            </div>

            <button class="font-semibold mb-2">How many clients can I add?</button>
            <div class="mb-6">
              <p>As many as you have!</p>
            </div>

            <button class="font-semibold mb-2">HIPPA compliance</button>
            <div class="mb-6">
              <p>We don't want anyone peeking into your client's data.
                  That is why we encrypt our database so that no one see's your data but you.</p>
            </div>

            <button class="font-semibold mb-2">Mobile supported</button>
            <div class="mb-6">
              <p>We expect the iOS app live on the App Store soon, and the Android version is shortly on the Play Store afterwords.</p>
            </div>

            <button class="font-semibold mb-2">Comments/questions</button>
            <div class="mb-6">
              <p>If you need any kind of clarification, feel free to contact us through <a class="text-blue-600" href="{% url 'contact_us' %}">here.</a></p>
            </div>

            {% if not request.user.is_authenticated %}
                <div class="flex justify-center mt-16">
                    <a class="tl-button" href="{% url 'signup' %}"> Sign me up! </a>
                </div>
            {% endif %}
        </div>
    </section>
    <footer class="flex justify-evenly mb-2 text-sm">
        <div>&#169; Copyright 2021 Theralogs LLC</div>
        <div><a href="{% url 'contact_us' %}" class="text-blue-600">Questions? Contact us</a></div>
    </footer>
</body>
</html>