{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theralogs Landing Page</title>
    <link rel="stylesheet" href="{% static 'style.min.css' %}">

</head>
<body>

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                     stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full"
                     viewBox="0 0 24 24">
                    <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">Theralogs</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="mr-5 hover:text-gray-900" >Login</a>
                {% endif %}
            </nav>
            {% if not request.user.is_authenticated %}
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
                   href="{% url 'signup' %}">Signup
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            {% else %}
                <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
                   href="{% url 'home' %}">Home
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            {% endif %}
        </div>
    </header>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">Audio Transcription For
                    Therapists</h2>
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Writing is tiresome, let AI work for you</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Simply submit a recording between you and your client
                    <br/> and have a transcribed pdf for your records.</p>
            </div>
            <div class="flex flex-wrap">
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Features</h2>
                    <p class="leading-relaxed text-base mb-4">Clean UI to view/manage your transcribed conversations
                        and email out pdf's to clients who need them again.</p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Pricing</h2>
                    <p class="leading-relaxed text-base mb-4">Dumb simple, just 9&#162; a minute.
                        We only charge if a recording was successful. </p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Mobile</h2>
                    <p class="leading-relaxed text-base mb-4">Use the iOS/Android apps to make it even easier
                        to get transcribed conversations. Simply press record and upload.</p>
                </div>
                <div class="lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                    <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">HIPAA compliant</h2>
                    <p class="leading-relaxed text-base mb-4">Transcribed data is encrypted in the database,
                        making sure only you and your clients view transcriptions alone. </p>
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="flex justify-center mt-16">
                    <a class="tl-button" href="{% url 'signup' %}"> Sign me up! </a>
                </div>
            {% endif %}
        </div>
    </section>
</body>
</html>