{% extends 'theralogs/base.html' %}

{% load static %}


{% block js %}
    <!-- dropzone js & css -->
    <link rel="stylesheet" href="{% static 'dropzone/basic.min.css' %}">
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    <script src="{% static 'dropzone/dropzone.min.js' %}"></script>

    <script src="{% static 'polyfill.js' %}" type="module" defer></script>
    <script src="{% static 'main.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="file-success-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Hooray!</b> Successfully uploaded audio file!
  </span>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="new-patient-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Congrats!</b> Successfully added a new client!
  </span>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500 hidden" id="error-patient-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Oops!</b> You need to enter a client name and email to successfully add someone new.
  </span>
</div>

<div class="hidden sm:block">
    {% if request.user.therapist.stripe_payment_method_id != null %}
    <form action="new-patient/" method="POST" id="new-patient-form" class="mb-10 sm:mt-10">
        {% csrf_token %}
        <div class="flex justify-evenly">
            <label class="block mb-2 mr-3">
                <span>Client Name</span>
                <input class="tl-input" type="text" id="patient-name" placeholder="Thomas"/>
            </label>
            <label class="block mb-2 mr-3">
                <span>Client Email</span>
                <input class="tl-input" type="email" id="patient-email" placeholder="thomas@gmail.com"/>
            </label>
            <button role="button" class="tl-button h-10 self-center mt-4" type="submit">Add new client</button>
        </div>
    </form>
    {% else %}
        <div class="text-white px-6 py-4 mb-10 border-0 rounded max-w-2xl mx-auto bg-blue-500">
          <a href="{% url 'update_payment' %}" class="inline-block align-middle mr-8">
            Add your payment info in order to start recording audio session with clients
          </a>
        </div>
    {% endif %}
</div>


<div class="border-2 border-gray-300 rounded-lg p-3 mt-5 sm:mt-0">
    <form action="file-upload/" method="POST" id="my-dropzone" class="dropzone">
        {% csrf_token %}
        <div>
            <div class="text-center">
                <label for="selected-patient">Select Client</label>
            </div>

          <div>
            <select id="selected-patient" name="selected-patient" class="tl-input">
            {% for patient in patients %}
                {% if forloop.first %}
                    <option value="{{ patient.id }}" selected>{{ patient.name }} - {{patient.email}}</option>
                {% else %}
                    <option value="{{ patient.id }}">{{ patient.name }} - {{patient.email}}</option>
                {% endif %}
            {% empty %}
             <option value="">Add a new client above</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <div class="flex items-center">
        <button id="upload-btn" class="hidden tl-button mt-2 mx-auto">UPLOAD</button>
    </div>
    <div class="flex items-center">
        <p id="stopwatch" class="hidden text-3xl mx-auto">00:00:00</p>
    </div>
    <div class="flex items-center">
        <button id="start-recording-btn" class="tl-button mt-2 mx-auto">Start recording</button>
    </div>
    <div class="flex items-center">
        <button id="stop-recording-btn" class="hidden tl-button bg-red-500 hover:bg-red-800 mt-2 mx-auto">Stop recording</button>
    </div>
</div>





<div class="my-10 sm:my-20">
   <div class="flex justify-between ">
        <a href="{% url 'filter_main' prev_month %}" class="tl-button bg-blue-200 text-black hover:bg-blue-400">{{prev_month}}</a>
        <p class="pt-2">{{curr_month | date:"M-Y"}}</p>
        <a href="{% url 'filter_main' next_month %}" class="tl-button bg-blue-200 text-black hover:bg-blue-400">{{next_month}}</a>
    </div>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="email-sent-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Awesome!</b> Email is on the way!
  </span>
</div>

<div class="grid gird-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 my-10">
    {% for key, values in sessions.items %}
        <div class="w-full rounded-md bg-gray-50">
            <h1 class="text-xl text-center">{{key | date:"SHORT_DATE_FORMAT"}}</h1>
            <div class="grid grid-cols-1 gap-3 mx-2 my-2 divide-y-2">
                {% for v in values %}
                <div class="grid grid-cols-2 gap-4">
                    <div class="text-black mt-4 col-span-1"> {{v.patient.name}} </div>
                    {% if v.progress == 2 %}
                        <a href="{% url 'view_pdf' session_id=v.id %}"
                           class="col-span-1 tl-button h-10 bg-blue-200 text-black hover:bg-blue-400 mt-2">
                            view
                        </a>
                    {% elif v.progress == 3 %}
                        <a class="col-span-1 tl-button h-10 bg-red-200 text-black mt-2 hover:bg-red-200">
                            failed
                        </a>
                    {% else %}
                        <a class="col-span-1 tl-button h-10 bg-gray-200 text-black mt-2 hover:bg-gray-200">
                            pending
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    {% empty %}
        <p class="text-lg text-center col-span-3">No entries found for this month</p>
    {% endfor %}
</div>
{% endblock %}