{% extends 'theralogs/base.html' %}

{% load static %}


{% block js %}
    <!-- dropzone js & css -->
    <link rel="stylesheet" href="{% static 'dropzone/basic.min.css' %}">
    <link rel="stylesheet" href="{% static 'dropzone/dropzone.min.css' %}">
    <script src="{% static 'dropzone/dropzone.min.js' %}"></script>

    <script src="{% static 'main.js' %}" defer></script>
{% endblock %}

{% block content %}

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="file-success-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Hooray!</b> Successfully uploaded audio file!
  </span>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="new-patient-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Congrats!</b> Successfully added a new patient!
  </span>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500 hidden" id="error-patient-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Oops!</b> You need to enter a patient name and email to successfully add someone new.
  </span>
</div>

<div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-green-500 hidden" id="email-sent-msg">
  <span class="inline-block align-middle mr-8">
    <b class="capitalize">Awesome!</b> Email is on the way!
  </span>
</div>

{% if request.user.therapist.stripe_payment_method_id != null %}
<form action="new-patient/" method="POST" id="new-patient-form" class="max-w-2xl mx-auto my-10">
    {% csrf_token %}
    <div class="flex justify-evenly">
        <label class="block mb-2 mr-3">
            <span>Patient Name</span>
            <input class="tl-input" type="text" id="patient-name" placeholder="Thomas"/>
        </label>
        <label class="block mb-2 mr-3">
            <span>Patient Email</span>
            <input class="tl-input" type="email" id="patient-email" placeholder="thomas@gmail.com"/>
        </label>
        <button role="button" class="tl-button h-10 self-center mt-4" type="submit">Add new patient</button>
    </div>
</form>
{% else %}
    <div class="text-white px-6 py-4 mb-10 border-0 rounded max-w-2xl mx-auto bg-blue-500">
      <a href="{% url 'update_payment' %}" class="inline-block align-middle mr-8">
        Add your payment info in order to start recording audio session with patients
      </a>
    </div>
{% endif %}

<div class="max-w-3xl mx-auto border-2 border-gray-300 rounded-lg p-3">
    <form action="file-upload/" method="POST" id="my-dropzone" class="dropzone">
        {% csrf_token %}
        <div>
            <div class="text-center">
                <label for="selected-patient">Select Patient</label>
            </div>

          <div>
            <select id="selected-patient" name="selected-patient" class="tl-input">
            {% for patient in patients %}
                {% if forloop.first %}
                    <option value="{{ patient.id }}" selected>{{ patient.name }} - {{patient.email}}</option>
                {% else %}
                    <option value="{{ patient.id }}">{{ patient.name }} - {{patient.email}}</option>
                {% endif %}
            {% empty %}
             <option value="">Add a new patient above</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <div class="flex items-center">
        <button id="upload-btn" class="tl-button mt-2 mx-auto">UPLOAD</button>
    </div>

</div>


<div class="max-w-3xl mx-auto my-20">
   <div class="flex justify-between ">
        <a href="{% url 'filter_main' prev_month %}" class="tl-button">{{prev_month}}</a>
        <p>{{curr_month | date:"M-Y"}}</p>
        <a href="{% url 'filter_main' next_month %}" class="tl-button">{{next_month}}</a>
    </div>
</div>

<div class="grid grid-cols-3 gap-3 max-w-3xl mx-auto my-10">
    {% for key, values in sessions.items %}
        <div class="w-full rounded-md bg-gray-50">
            <h1 class="text-xl text-center">{{key | date:"SHORT_DATE_FORMAT"}}</h1>
            <div class="grid grid-cols-1 gap-3 mx-2 my-2 divide-y-2">
                {% for v in values %}
                    <div class="flex justify-between items-center">
                        <a class="text-black mt-2" href="{% url 'view_pdf' session_id=v.id %}"> {{v.patient.name}} </a>
                        {% if v.recording_json %}
                        <button id="{{v.id}}" class="tl-button send-email-btn h-10 bg-blue-200 text-black hover:bg-blue-400 mt-2">
                            resend
                        </button>
                        {% else %}
                        <button disabled class="tl-button h-10 bg-gray-200 text-black mt-2 hover:bg-gray-200">
                            pending
                        </button>
                        {% endif %}
                    </div>
            {% endfor %}
            </div>
        </div>
    {% empty %}
        <p>No entries found for this month</p>
    {% endfor %}
</div>
{% endblock %}