{% extends 'theralogs/base.html' %}
{% load tl_tags %}

{% block title %} Signup {% endblock %}

{% block content %}
<div class="max-w-xl mx-auto">
    <h1 class="text-3xl mb-4">Signup</h1>

    {% if form.errors %}
      <p class="text-red-600 font-bold">Error updating profile</p>
    {% endif %}

    {% include 'theralogs/partials/_generic_form.html' with btn_title='Sign up' %}
    <p class="flex justify-center mb-4">
        <a class="text-sm underline" href="{% url 'login' %}">Already have an account?</a>
    </p>
</div>

{% endblock %}