{% load tl_tags %}

<form method="post" class="mb-8 space-y-4" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <label class="block">
            <span class="text-gray-700">{{ field.label }}:</span>
            {{ field | addclass:'tl-input'}}
        </label>
    {% endfor %}
    <div class="flex {% if cancel_url %} content-center justify-between {% else %} items-center {% endif %}">
        {% if cancel_url %}
            <a class="self-center" href="{% url cancel_url %}">Cancel</a>
        {% endif %}
        <button class="tl-button {% if not cancel_url %} mx-auto {% endif %}" type="submit">{{btn_title}}</button>
    </div>
</form>