{% extends 'theralogs/base.html' %}
{% load tl_tags %}

{% block content %}

<div>
    <h3 class="text-3xl mb-8">Forgot password</h3>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <label class="block">
                <span class="text-gray-700">{{ field.label }}:</span>
                {{ field | addclass:'tl-input' }}
                {% for error in field.errors %}
                <div class="text-red-600">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            </label>
        {% endfor %}
        <button type="submit" class="tl-button mt-8">Submit</button>
    </form>
</div>
{% endblock %}