{% extends 'theralogs/base.html' %}
{% load tl_tags %}

{% block content %}

<div class="max-w-xl mx-auto">
    {% if validlink %}
    <h3 class="text-3xl mb-8">Change password</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
            <label class="block">
                <span class="text-gray-700">{{ field.label }}:</span>
                {{ field | addclass:'tl-input mb-8' }}
                {% for error in field.errors %}
                <div class="text-red-600">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            </label>
        {% endfor %}
      <button type="submit" class="tl-button">Change password</button>
    </form>
  {% else %}
    <p class="text-xl">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}